In [5]:
import pandas as pd

data=["Mark", 55, "Italy", 4.5, "Europe"], ["John", 33, "USA", 6.7, "América"]
df = pd.DataFrame(data=data, columns=["name", "age", "coutry", "score", "continent"], index=[1001, 1000])
df.index.name = "use_id"
df

        name  age coutry  score continent
use_id
1001    Mark   55  Italy    4.5    Europe
1000    John   33    USA    6.7   América

In [6]:
import pandas as pd

# Seu DataFrame

df = pd.DataFrame({
    'use_id': [1001, 1000],
    'name': ['Mark', 'John'],
    'age': [55, 33],
    'coutry': ['Italy', 'USA'],
    'score': [4.5, 6.7],
    'continent': ['Europe', 'América']
})

# Exportar para um arquivo Excel

df.to_excel('DataFrame_teste.xlsx', index=False)